[global]
{% if not private_repo_verify_ssl %}
trusted-host =
{%- for reponame in private_repo_pypi_repos %}
  {{private_repo_url_base}}
{% endfor %}
{% endif %}
{% if private_repo_pypi_extra_index %}
extra-index-url =
{%- else %}
index-url = 
{%- endif -%}
{% for reponame in private_repo_pypi_repos -%}
{% if private_repo_username and private_repo_encrypted_password -%}
  {{private_repo_url_proto}}://{{private_repo_username}}:{{private_repo_encrypted_password}}@{{private_repo_url_base}}/{{private_repo_url_pathprefix}}/api/pypi/{{reponame}}/simple
{% else %}
  {{private_repo_url_proto}}://{{private_repo_url_base}}/{{private_repo_url_pathprefix}}/api/pypi/{{reponame}}/simple
{% endif %}
{% endfor %}

