[global]
trusted-host =
{%- for reponame in private_repo_pypi_repos %}
  {{private_repo_url_proto}}://{{private_repo_url_base}}/{{private_repo_url_pathprefix}}/api/pypi/{{reponame}}/simple
{% endfor %}
extra-index-url =
{%- for reponame in private_repo_pypi_repos %}
  {{private_repo_url_proto}}://{{private_repo_url_base}}/{{private_repo_url_pathprefix}}/api/pypi/{{reponame}}/simple
{% endfor %}
