[{{private_repo_name_prefix}}{{item}}]
name={{private_repo_desc_prefix}}{{item}}
baseurl=https://{{private_repo_username}}:{{private_repo_encrypted_password}}@{{private_repo_url_base}}/{{private_repo_url_pathprefix}}/{{item}}
enabled=1
gpgcheck=0
